{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}
Hello, World!<br>
Hello, World!<br>

Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>
Hello, World!<br>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/landing.js') }}"></script>
{% endblock %}