{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}
<div id="landing" class="container-fluid"
    style="background-size: contain; background-image: url({{ url_for('static', filename='img/fusion_multi.png') }});">
</div>
<div id="navbar" class="container-fluid text-center">
    <div class="row justify-content-center">
        <div class="col-3">
            <a class="nav-link" href="#about">about</a>
        </div>
        <div class="col-3">
            <a class="nav-link" href="#history">history</a>
        </div>
        <div class="col-3">
            <a class="nav-link" href="{{ url_for('team') }}">team</a>
        </div>
        <div class="col-3">
            <a class="nav-link" href="{{ url_for('blog') }}">blog</a>
        </div>
    </div>
</div>
<div class="container text-center pt-5">
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Nibh mauris cursus mattis molestie a iaculis at erat. Ornare arcu dui vivamus arcu felis bibendum
        ut tristique. Morbi tristique senectus et netus et malesuada fames ac. Vitae proin sagittis nisl rhoncus mattis
        rhoncus. Arcu vitae elementum curabitur vitae nunc. Velit euismod in pellentesque massa placerat duis ultricies
        lacus. Consectetur lorem donec massa sapien faucibus. Sed cras ornare arcu dui vivamus arcu felis. Volutpat
        lacus laoreet non curabitur. Augue mauris augue neque gravida in fermentum. Suspendisse interdum consectetur
        libero id faucibus nisl tincidunt. Venenatis cras sed felis eget velit aliquet sagittis id consectetur.
        Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Pulvinar etiam non quam lacus
        suspendisse.
        Purus non enim praesent elementum facilisis. Lectus urna duis convallis convallis tellus. Et netus et malesuada
        fames ac turpis egestas. Urna porttitor rhoncus dolor purus non enim praesent. Nec nam aliquam sem et tortor
        consequat id porta nibh. Duis at tellus at urna condimentum mattis pellentesque id. Consequat semper viverra nam
        libero justo laoreet sit amet. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Maecenas ultricies mi
        eget mauris pharetra et ultrices. Sed augue lacus viverra vitae congue eu consequat ac. Phasellus faucibus
        scelerisque eleifend donec. Felis eget nunc lobortis mattis aliquam faucibus. Dui id ornare arcu odio ut.
        Pellentesque habitant morbi tristique senectus et. Elementum facilisis leo vel fringilla est ullamcorper. In
        ornare quam viverra orci. Ut enim blandit volutpat maecenas. Vitae ultricies leo integer malesuada nunc vel.
        Viverra mauris in aliquam sem fringilla ut morbi tincidunt. Magna fermentum iaculis eu non diam phasellus. In
        nulla posuere sollicitudin aliquam ultrices sagittis orci. Morbi quis commodo odio aenean sed adipiscing diam.
        Amet consectetur adipiscing elit ut aliquam purus sit amet. Nam libero justo laoreet sit amet. Dictum at tempor
        commodo ullamcorper a lacus vestibulum sed arcu. Scelerisque felis imperdiet proin fermentum leo vel orci porta
        non. Purus gravida quis blandit turpis cursus in. Aliquam vestibulum morbi blandit cursus risus at. Commodo
        ullamcorper a lacus vestibulum.
        Quis eleifend quam adipiscing vitae proin sagittis. Aliquam eleifend mi in nulla posuere. Nec ullamcorper sit
        amet risus nullam. Vulputate eu scelerisque felis imperdiet proin. Sit amet mauris commodo quis. Rhoncus urna
        neque viverra justo nec ultrices. Turpis tincidunt id aliquet risus feugiat. Lobortis feugiat vivamus at augue
        eget arcu. Arcu cursus euismod quis viverra nibh cras pulvinar mattis nunc. Facilisi etiam dignissim diam quis
        enim lobortis scelerisque fermentum. Fusce ut placerat orci nulla pellentesque dignissim enim. Nulla porttitor
        massa id neque. Odio euismod lacinia at quis. Eros donec ac odio tempor orci dapibus. Quis imperdiet massa
        tincidunt nunc pulvinar.
        Magna sit amet purus gravida. Ullamcorper eget nulla facilisi etiam dignissim diam quis enim. Massa tincidunt
        dui ut ornare lectus sit amet est. Netus et malesuada fames ac turpis. At urna condimentum mattis pellentesque
        id nibh tortor id. Volutpat blandit aliquam etiam erat velit scelerisque in dictum. Nibh cras pulvinar mattis
        nunc sed blandit libero volutpat sed. Sed viverra tellus in hac habitasse platea. Ornare lectus sit amet est
        placerat in egestas. Et ligula ullamcorper malesuada proin. Pellentesque nec nam aliquam sem. Ut tortor pretium
        viverra suspendisse potenti nullam ac tortor. Vitae auctor eu augue ut lectus arcu bibendum at. Sem viverra
        aliquet eget sit amet tellus. Egestas congue quisque egestas diam in arcu cursus euismod.
        Quam nulla porttitor massa id neque aliquam vestibulum. Mauris a diam maecenas sed. Non curabitur gravida arcu
        ac tortor dignissim. Quis commodo odio aenean sed. Suscipit adipiscing bibendum est ultricies integer quis
        auctor elit. Id donec ultrices tincidunt arcu non. Eu scelerisque felis imperdiet proin fermentum. Id interdum
        velit laoreet id donec ultrices tincidunt arcu non. Urna molestie at elementum eu facilisis sed. Adipiscing elit
        pellentesque habitant morbi tristique senectus.
        <div id="about">
            Pretium fusce id velit ut tortor pretium viverra suspendisse. Ut sem viverra aliquet eget. Integer feugiat
            scelerisque varius morbi enim nunc faucibus a pellentesque. Malesuada proin libero nunc consequat interdum
            varius sit amet mattis. Praesent tristique magna sit amet purus gravida. Id eu nisl nunc mi. Vel risus
            commodo
            viverra maecenas accumsan lacus vel. At risus viverra adipiscing at in tellus integer feugiat. Pretium
            aenean
            pharetra magna ac placerat vestibulum lectus mauris ultrices. Arcu odio ut sem nulla pharetra. Lectus mauris
            ultrices eros in cursus turpis massa. Vitae semper quis lectus nulla at. Adipiscing tristique risus nec
            feugiat
            in fermentum posuere. Viverra nibh cras pulvinar mattis nunc sed blandit. Eget egestas purus viverra
            accumsan in
            nisl. Feugiat nisl pretium fusce id velit ut tortor pretium. Malesuada fames ac turpis egestas sed tempus
            urna
            et.</div>
        Arcu odio ut sem nulla pharetra diam sit amet nisl. Ridiculus mus mauris vitae ultricies leo integer malesuada
        nunc. Sit amet purus gravida quis blandit turpis cursus in. Tortor at auctor urna nunc id cursus metus aliquam
        eleifend. In metus vulputate eu scelerisque felis. Diam maecenas ultricies mi eget. Dictum sit amet justo donec
        enim diam vulputate ut pharetra. Dui vivamus arcu felis bibendum. Est ullamcorper eget nulla facilisi etiam
        dignissim diam quis enim. Augue mauris augue neque gravida. Condimentum mattis pellentesque id nibh tortor id.
        Nulla porttitor massa id neque aliquam vestibulum morbi blandit. Tortor at risus viverra adipiscing at. Ipsum
        dolor sit amet consectetur adipiscing elit duis tristique. Ultrices neque ornare aenean euismod elementum nisi.
        Accumsan sit amet nulla facilisi morbi tempus iaculis. Odio pellentesque diam volutpat commodo sed egestas
        egestas fringilla phasellus.
        Lectus urna duis convallis convallis tellus. At imperdiet dui accumsan sit amet nulla facilisi morbi tempus.
        Vitae turpis massa sed elementum tempus egestas. Lacus laoreet non curabitur gravida. Sapien eget mi proin sed
        libero enim. Mauris a diam maecenas sed enim ut sem viverra aliquet. Elementum nisi quis eleifend quam
        adipiscing. Ut pharetra sit amet aliquam id diam maecenas ultricies. Purus in mollis nunc sed id semper. Ac
        placerat vestibulum lectus mauris. Lorem ipsum dolor sit amet consectetur adipiscing elit. Mauris ultrices eros
        in cursus. Nisi scelerisque eu ultrices vitae auctor eu augue ut lectus. Ultrices sagittis orci a scelerisque
        purus semper eget duis. Sit amet massa vitae tortor condimentum. Sed vulputate odio ut enim blandit volutpat.
        Lectus proin nibh nisl condimentum id venenatis a condimentum vitae. Enim diam vulputate ut pharetra sit amet
        aliquam id. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et. Auctor neque vitae
        tempus quam pellentesque nec. Egestas fringilla phasellus faucibus scelerisque eleifend donec. Dapibus ultrices
        in iaculis nunc sed. Sapien nec sagittis aliquam malesuada bibendum arcu. Volutpat consequat mauris nunc congue
        nisi vitae suscipit tellus. Vivamus arcu felis bibendum ut tristique et egestas quis ipsum. Habitasse platea
        dictumst quisque sagittis purus sit. Quis enim lobortis scelerisque fermentum dui faucibus. Aliquam etiam erat
        velit scelerisque in dictum. Morbi tincidunt augue interdum velit euismod in pellentesque massa. Nec feugiat
        nisl pretium fusce id velit ut. Suscipit tellus mauris a diam maecenas sed. Dictumst vestibulum rhoncus est
        pellentesque elit ullamcorper. Vel pharetra vel turpis nunc eget lorem.</div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/landing.js') }}"></script>
{% endblock %}