@import url('https://fonts.googleapis.com/css?family=Raleway:600,700&display=swap');

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #60d7ff;
}

#landing {
    height: 75vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgba(255, 162, 234, 0.25);
}

#navbar {
    font-size: xx-large;
    top: 0;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    background-color: rgba(255, 162, 234, 0.25);
}

#back-to-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 2; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }