@import url('https://fonts.googleapis.com/css?family=Raleway:600,700&display=swap');

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #60d7ff;
}

#landing {
    height: 75vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgba(255, 162, 234, 0.25);
}

#navbar {
    font-size: 2.5vw;
    top: 0;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    background-color: rgba(255, 162, 234, 0.25);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #navbar {
        font-size: 5vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #navbar {
        font-size: 5vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #navbar {
        font-size: 4vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #navbar {
        font-size: 3vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #navbar {
        font-size: 2.5vw;
    }
}